body {
    background-color: rgb(0, 162, 255);
    font-family: 'Times New Roman', Times, serif;
}

.box{
    border: 1.5px solid rgb(202, 202, 202);
    padding: 1 em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    
}
.Medium {
    background-color: rgb(123, 240, 100);
    flex: 1;
}

.Large {
    background-color: rgb(248, 120, 216);
    flex: 1;
}

.Small {
    background-color: blueviolet;
    flex: 1;
}

.contact {
    background-color: rgb(182, 230, 10);
}
@media(min-width:968px){
    body {background-color: rgb(110, 185, 250);}

.container{
    display: flex;
}
}